@font-face {
    font-family: Regular;
    src: url(fonts/SFCompactText-Regular.otf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Semibold;
    src: url(fonts/SFCompactText-Semibold.otf);
    font-weight: 600;
    font-style: normal
}

html, body {
    cursor: url(images/triangle.png) 6 6, default;
    cursor: -webkit-image-set(url(images/triangle.png) 1x, url(images/triangle@2x.png) 2x) 6 6, default;
}

i, i::before, i::after, i:hover, li, ul, a, a::after, a:visited, a:hover {
    background-color: transparent;
    cursor: url(images/triangle-full.png), auto;
    cursor: -webkit-image-set(url(images/triangle-full.png) 1x, url(images/triangle-full@2x.png) 2x) 6 6, default;
    text-decoration: none;
    /*color: #000*/
}

.cover {
    height: 100vh;
}

.download-button {
    font-size: 1rem;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 1px solid #007bff;
    color: #007bff;
}

.download-button:hover {
    color: white;
    background-color: #007bff;
    cursor: url(images/triangle-white-full.png), auto;
    cursor: -webkit-image-set(url(images/triangle-white-full.png) 1x, url(images/triangle-white-full@2x.png) 2x) 6 6, default;
}

.disabled-button {
    font-size: 1rem;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 1px solid gray;
    color: gray;
    pointer-events: none;
}

/* NAME */

#name-container {
    height: 50%;
    position: relative;
}

.title {
    /*font-size: 6.9vw;*/
    font-size: 5em;
    line-height: 110%;
    font-family: Semibold;
    bottom: 0;
    position: absolute;
}

/* SM */

.social-media {
    margin-top: 50px;
}

.icon {
    font-size: 50px;
    margin: 10px;
    color: #212529;
}

.icon:hover {
    text-shadow: 0px 5px 8px rgba(33, 37, 41, 0.5);
}

.fa-github:hover {
    color: #212529;
}

.fa-linkedin:hover {
    color: rgb(17, 120, 179)
}

.fa-instagram:hover {
    color: rgb(233, 84, 183);
}

.fa-twitter:hover {
    color: dodgerblue;
}

.fa-snapchat-ghost:hover {
    color: rgb(243, 230, 58);
}

/* NAVIGATION */

.navigation-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    color: #212529;
}

.nav-icon {
    font-size: 25px;
    float: right;
}

.nav-text {
    font-size: 25px;
    font-family: Regular;
    color: #212529;
}

.list-group-item {
    border: 1.5px solid rgba(0, 0, 0, 1);
    border-radius: -0.5em;
}

.list-group-item-action:hover {
    color: black;
    background-color: white;
}

/* PROJECT */

.project-container {
/*    height: 100vh;*/
    margin-top: 50px;
}

.heading-projects {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.card {
    font-family: Regular;
    margin-bottom: 50px;
    border-radius: .5em;
    box-shadow:  0px 5px 25px -2px #212529;

    cursor: url(images/triangle-white.png), auto;
    cursor: -webkit-image-set(url(images/triangle-white.png) 1x, url(images/triangle-white@2x.png) 2x) 6 6, default;

    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
    box-shadow:  0px 5px 25px 1px #212529;
}

/* ABOUT */

.about-container {
/*    height: 100vh;*/
    margin-top: 50px;
}

.heading-about {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.about-text {
    font-family: Regular;
    font-size: 1.5em;
}

/* CONTACT */

form {
    font-family: Semibold;
}

.contact-container {
    /*    height: 100vh;*/
    margin-top: 50px;
}

.heading-contact {
    margin-top: 50px;
    text-align: center;
}

/* FOOTER */

footer {
    font-family: Semibold;
}

.back-to-top {
    float: right;
}

/* ANIMATIONS */

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@media screen and (min-width: 769px) and (max-width: 993px) {
    .name {
        font-size: 60px;
    }
    .icon {
        font-size: 45px;
    }
}

@media screen and (max-width:768px) {
    .order-first {
        text-align: center;
    }
    .social-media {
        text-align: center;
        margin-top: 20px;
    }
    .title {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    #name-container {
        margin-top: 20px;
    }
    .name {
        font-size: 0.5em;
        line-height: 90%;
    }
    .icon {
        font-size: 35px;
    }

    .navigation-container {
        position: relative;
        top: 40%;
        transform: translateY(-50%);
        width: 300px;
        color: #212529;
    }

    .back-to-top {
        text-align: center;
        float: unset;
    }
    .back-to-top-text{
        padding-bottom: 10px;
    }
    .footer-lb {
        padding-bottom: 10px;
        text-align: center;
    }
}